---
title : "AVS Hub"
---

{{% blocks/lead color="white" %}}
<h2 >Welcome to the AVS Hub!</h2>
<p>a collection of resources for the AVS community</p>
{{% /blocks/lead %}}
{{< blocks/cover   image_anchor="top" height="full" color="white">}}

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/workshop-guide">}}">Workshop Guide<i class="fas fa-arrow-alt-circle-right ml-2"></i></a><br>
<h2>Why Azure VMware Solution ?</h2>
{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" %}}
Seamlessly move VMware-based workloads from your datacenter to Azure and integrate your VMware environment with Azure.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa fa-wrench" %}}
Azure VMware Solution provides you with private clouds built from dedicated bare-metal Azure infrastructure.
{{% /blocks/feature %}}
{{% blocks/feature icon="fa fa-eye" %}}
Azure VMware Solution is a Microsoft service, verified by VMware, that runs on Azure infrastructure.
{{% /blocks/feature %}}
{{< /blocks/section >}}
{{< blocks/section color="dark" type="container">}}
<iframe src="https://www.microsoft.com/en-us/videoplayer/embed/RW10Z02"
        scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="false" width="100%" ></iframe>
{{< /blocks/section >}}

{{< /blocks/cover>}}
